<mat-toolbar fxLayout="row" fxLayoutGap="16px" fxLayoutAlign=" center">
    <mat-icon (click)="back()">arrow_back</mat-icon>
    <span class="app-title">Recording</span>
</mat-toolbar>

<div class="container">
    <div class="app-page-content">

        <div class="mt-16 mb-16" fxLayout="row" fxLayoutAlign="center center">
            <div>Voices recorded for 0/99</div>
        </div>

        <div fxLayout="column"fxLayoutAlign="center center">
            <div class="mt-16" fxLayout="row" fxLayoutAlign="center center">
                <div>Your Voice for Name of Allah "{{voiceName}}" </div>
            </div>
            <mat-list class="audio-list mb-16" color="primary">
                <mat-list-item>
                    <div class="flex flex-center w-100-per">
                        <!-- <input class="flex-grow-0" type="checkbox" [ngModel]="storedAudio.inUse"
                            (ngModelChange)="inUseChecked(storedAudio, $event)" [readonly]="storedAudio.inUse" name="inUse"
                            [value]="storedAudio.id"> -->
                        <app-record-speak class="flex-grow-1" *ngIf="recordedAudioUrl" mat-line [url]="recordedAudioUrl"
                            (onDelete)="deleteRecording()"></app-record-speak>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>


        <!-- <div fxLayoutAlign="center center" (click)="playRecordedSound()">
            <span class="flex-grow-0" class="play-button">
                <mat-icon mat-list-icon>play_arrow</mat-icon>
            </span>
            <mat-slider aria-label="unit(s)"></mat-slider>
        </div> -->

        <div>
            <div class="mt-16" fxLayout="row" fxLayoutAlign="center center">
                <div>Default Voice for Name of Allah "{{voiceName}}" </div>
            </div>
            <div fxLayoutAlign="center center" (click)="playSound(voiceAudio)">
                <span class="flex-grow-0" class="play-button">
                    <mat-icon mat-list-icon>play_arrow</mat-icon>
                </span>
                <mat-slider aria-label="unit(s)"></mat-slider>
            </div>
        </div>

        <div class="media-footer sticky-footer">
            <mat-toolbar color="primary">
                <mat-toolbar-row class="media-action-bar">
                    <button *ngIf="recorderState == 1 || recorderState == 2 || recorderState >= 4" mat-button
                        (click)="startRecording()">
                        <mat-icon mat-list-icon>mic</mat-icon>
                    </button>
                    <button *ngIf="recorderState == 4 || recorderState == 3" mat-button (click)="stopRecording()">
                        <mat-icon mat-list-icon>stop</mat-icon>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
</div>