<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <img [routerLink]="'/'" src="/assets/icon.png" width="68px" height="24px" />
    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu">
        {{ selectedAudio?.name || 'Select Sound'}}
        <mat-icon>arrow_drop_down</mat-icon></button>

    <mat-menu #menu="matMenu">
        <ng-container *ngFor="let option of audioOptions">
            <button mat-menu-item (click)="onAudioChange(option)">{{option.name}}</button>
        </ng-container>
    </mat-menu>

</mat-toolbar>

<!-- sidenav -->

<mat-drawer-container class="app-container">
    <mat-drawer #drawer mode="side" class="app-sidenav">
        <div fxLayout="column" fxLayoutAlign="space-between stretch" class="h-100-per">
            <div>
                <mat-nav-list class="erp-nav-list">
                    <a mat-list-item routerLink="/home">
                        <mat-icon>home</mat-icon>
                        Home
                    </a>
                </mat-nav-list>
                <mat-divider></mat-divider>
                <mat-nav-list class="erp-nav-list">
                    <a mat-list-item routerLink="/my-voice">
                        <mat-icon>record_voice_over</mat-icon>
                        My voice
                    </a>
                </mat-nav-list>
            </div>
        </div>
    </mat-drawer>
    <router-outlet></router-outlet>
</mat-drawer-container>