<div class="container">
  <h1>99 Names of Allah (Al Asma Ul Husna)</h1>
  <div>

    <ul class="flex-container wrap" >
      <li class="flex-container wrap" *ngFor="let item of dataSource" (click)="playSound(item.Audio!)">
        <span class="card" 
        fxLayoutAlign="center center"> {{item.Name}}<br>{{item.Transliteration}}<br>
        {{item.Meaning}}</span></li>

    </ul>

  </div>

</div>

 <!-- <div *ngFor="let item of dataSource"><span class="card" (click)="playSound(item.Audio!)"
        fxLayoutAlign="center center"> {{item.Name}}<br>{{item.Transliteration}}<br>
        {{item.Meaning}}</span></div> -->
