<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <h1>99 Names of Allah (Al Asma Ul Husna)</h1>
  <div id="name-line" fxLayoutGap="10px">
    <div class="letter-box" *ngFor="let item of dataSource" >
      <div class="letter-only letter-border letter-selector">
        <div class="main-letter" (click)="playSound(item.Audio!)">
          <span> <span class="name-design"> {{item.Name}} </span><br>{{item.Transliteration}}<br>
            {{item.Meaning}}</span>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- <div *ngFor="let item of dataSource"><span class="card" (click)="playSound(item.Audio!)"
        fxLayoutAlign="center center"> {{item.Name}}<br>{{item.Transliteration}}<br>
        {{item.Meaning}}</span></div> -->

<!-- <ul class="flex-container wrap" >
      <li class="flex-container wrap" *ngFor="let item of dataSource" (click)="playSound(item.Audio!)">
        <span class="card" 
        fxLayoutAlign="center center"> {{item.Name}}<br>{{item.Transliteration}}<br>
        {{item.Meaning}}</span></li>

    </ul> -->