#name-line {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px
}

.mat-slider-horizontal {
  max-width: 300px;
  width: 100%;
}

.example-result-card h2 {
  margin: 0 8px;
}

.example-result-card .example-label-container.example-label-horizontal {
  display: flex;
  justify-content: space-between;
  margin: 0 0 12px 16px;
  max-width: 284px;
}

.example-result-card .example-value-label {
  font-weight: 600;
}

.example-result-card {
  width: 260px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}




.name-design {
  font-size: 40px;
}

.letter-box {
  display: inline-block;
  width: 325px;
  height: 165px;


  .letter-only {
    width: 315px;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 8px;
    border: 1px solid #00bfa5;
    color: #00bfa5;
    vertical-align: middle;
    text-align: center;

    min-width: calc((100vw - (70px)) / 5);
    min-height: 45px;

    .main-letter {
      font-size: 18px;
    }


  }
}

.letter-box {

  &.letter-active,
  &:hover,
  &:focus {

    .letter-only,
    .letter-img {
      color: #00796b;
      border: 1px solid #00796b;
      box-shadow: 0 0 5px #00796b;
      // background-color: rgba(0, 0, 0, 0.5);
      background: transparent;
    }
  }
}

.letter-box.letter-box-blur {
  .letter-selector {
    filter: blur(1px);
    opacity: 0.5;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: #00bfa5;
}

