<div class="container">
    <div class="m-16">
        You may want to record your own voice that would be available for your child to listen with Speaker Name or Custom (C)
    </div>
    <div >
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="label">Speaker Name</mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>

    <div class="ml-16 mr-16">
        <div >
    
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    Names of Allah
                </div>
                <div fxLayoutGap="8px">
                    <mat-chip-list class="count-chips" aria-label="Fish selection" >
                        <mat-chip></mat-chip>
                    </mat-chip-list>
                    <button mat-button mat-raised-button routerLink="/recording" > Start Recording</button>
                </div>
            </div>
    
            <hr />
        </div>
    </div>
















</div>